body {
    font-family: Arial, sans-serif; /* 見やすいフォントを設定 */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* わずかにグレーの背景 */
    color: #333; /* 文字色 */
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; /* 内容の幅を制限して読みやすくする */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    margin: 2px;
}

h3 {
    padding: 2px 10px 2px 10px;
    border-left: 5px solid #007bff; /* ポイントカラー（青）を左端に */
}